<div class="main posts-index">
  <div class="container">
    <div class="post-index">
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <div class="jacket-image">
            <%= image_tag("/jacket_images/#{post.content_image}", :size => "200x200") %>
          </div>
          <div class="title">
            <h2><%= link_to(post.content, "/posts/#{post.id}") %></h2>
          </div>
          <div class="user-name">
            <%= link_to("@user.name", "/users/#{@user.id}") %>
          </div>
          <div class="music">
            <%= audio_tag("/content_music/#{post.content_music}", :controls => true) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
